<div class="card-group">
    <div class="card">
        <img class="card-img-top mx-auto" src="{{this.icon}}" alt="Card image cap">
        <div class="card-body">
            <a href="club/{{this._id}}">
                <h5 class="card-title">{{this.clubname}}</h5>
            </a>
            <p class="card-title">
                <strong>Current book: </strong>{{this.currBook.title}}</p>
            <p class="card-title">
                <strong>Author: </strong>{{this.currBook.author}}</p>

        </div>
    </div>
</div>