<div class="container">

    <h1>Hi {{ req.user.username }}!</h1>

    <div class="row">
        <div class="col-6">
            <img src="/images/lisaicon.png">
        </div>
    </div>
    <br>
    <div id="search">
        <a href="/books" class="btn btn-primary">Search Books</a>
        <a href="/browse" class="btn btn-primary">Browse Clubs</a>
        </form>
    </div>
    <br>

    <div>
        <h3>My favorite books</h3>
        <ul style="list-style-type:none">
            {{#each user.favoriteBooks}}
            <li>
                <img src="{{this.icon}}" class="home-img">
                <strong>{{this.title}}</strong> by {{this.author}}
            </li>
            {{/each}}
        </ul>
    </div>
    <div>
        <h3>My book clubs</h3>
        <ul style="list-style-type:none">
            {{#each user.clubs}}
            <li>
                <a href="club/{{this._id}}">{{this.clubname}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>