<div class="container">

    <h1>Profile of: {{ user.username }}!</h1>

    <div class="row">
        <div class="col-6">
            <img src="/images/lisaicon.png">
        </div>
    </div>
    <br>


    <div>
        <h3>{{ user.username }}'s favorite books</h3>
        {{!-- {{user.favoriteBooks}} --}}
        <ul style="list-style-type:none">
            {{#each user.favoriteBooks}}
            <li>
                <img src="{{this.icon}}" class="home-img">
                <strong>{{this.title}}</strong> by {{this.author}}
            </li>
            {{/each}}
        </ul>
    </div>
    <div>
        <h3>{{ user.username }}'s book clubs</h3>
        {{!-- {{user.clubs}} --}}
        <ul style="list-style-type:none">
            {{#each user.clubs}}
            <li>
                <a href="club/{{this._id}}">{{this.clubname}}</a>
            </li>
            {{/each}}
        </ul>
    </div>