<div class="container">

    

    <div class="row">
        <div class="col-12 profile-info">
            <img src="/images/lisaicon.png">
        </div>
        <div class="col-12 profile-info">
            <h1>Profile of: {{ user.username }}!</h1>
        </div>
    </div>
    
    <br>

<div class="row">
    <div class="col-6">
        <h3>{{ user.username }}'s favorite books</h3>
        {{!-- {{user.favoriteBooks}} --}}
        <ul style="list-style-type:none">
            {{#each user.favoriteBooks}}
            <li>
                <img src="{{this.icon}}" class="home-img">
                <strong>{{this.title}}</strong> by {{this.author}}
            </li>
            {{/each}}
        </ul>
    </div>
    <div class="col-6">
        <h3>{{ user.username }}'s book clubs</h3>
        {{!-- {{user.clubs}} --}}
        <ul style="list-style-type:none">
            {{#each user.clubs}}
            <li>
                <img src="../{{this.icon}}" class="home-img">
                <a href="../club/{{this._id}}">{{this.clubname}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
 </div>   