<div class="container">
  <h4>{{club.clubname}}</h4>


  <div class="club-content">
    <div>
      <h6>Genre: {{club.genre}}</h6>
    </div>
    <div>
      <h6>Members: {{club.users.length}}</h6>
    </div>
  </div>




  <h5>Currently Reading: </h5>
  <div class="club-content">
    <img src="{{currentBook.icon}}" class="club-img">
    
    <h5><strong>{{currentBook.title}}</strong> by {{currentBook.author}} </h5>
  </div>


  <div class="club-btn">
    {{#if memberStatus}}
      <a class="btn btn-primary club-btn" href="/club/{{club._id}}/leave">Leave Club</a>
    {{else}}
      <a class="btn btn-primary club-btn" href="/club/{{club._id}}/join">Join Club</a>
    {{/if}}
  </div>
</div>