<h4>{{club.clubname}}</h4>


<div class="club-content">
  <h6>Genre: {{club.genre}}</h6>
  <h6>Members: {{club.user.length}}</h6>
</div>


<h5>Currently Reading: </h5> <div class="club-content"><img src="/images/books.png"><h5>{{club.currBook.title}} by {{club.currBook.author}}</h5></div>


<div class="club-content"><h5>Club Library</h5></div>
<div class="club-content" id="videos">
  <h5>Videos</h5>
  <div class="video-container"></div>
  <div class="video-container"></div>
</div>

<div class="club-btn"> <a class="btn btn-primary" id="join-club-btn" href="/club/{{club._id}}">Leave</a> </div> 

