<div class="container">
  <h4>{{club.clubname}}</h4>


  <div class="club-content">
    <div>
      <h6>Genre: {{club.genre}}</h6>
    </div>
    <div>
      <h6>Members: {{club.users.length}}</h6>
    </div>
  </div>




  <h5>Currently Reading: </h5>
  <div class="club-content">
    <img src="/images/books.png">
    <h5>{{club}} by {{club}}</h5>
  </div>


  <div class="club-content">
    <h5>Club Library</h5>
  </div>
  <div class="club-content" id="videos">
    <h5>Videos</h5>
    <div class="video-container"></div>
    <div class="video-container"></div>
  </div>


  <div class="club-btn">
    {{#if memberStatus}}
    <a class="btn btn-primary club-btn" href="/club/{{club._id}}/chat">Club Chat</a>
    <a class="btn btn-primary club-btn" href="/club/{{club._id}}/leave">Leave Club</a>
    {{else}}
    <a class="btn btn-primary club-btn" href="/club/{{club._id}}/join">Join Club</a>
    {{/if}}
  </div>
</div>